@import "tailwindcss";

/* This enables toggling dark mode by applying the class 'dark' to root html element */
@custom-variant dark (&:where(.dark, .dark *));

/* Custom Tailwind Classes */
@theme {
  --color-dark-bg: #0e0e0e;
  --color-dark-fg: #f2f2f2;
  --color-light-bg: #f2f2f2;
  --color-light-fg: #0e0e0e;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Chrome:Safari:Edge */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
  scrollbar-width: none;
}
